:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #f8e7d1;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-left: 75px;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
}

.user-icon {
  height: 10px;
  min-width: 120px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: -60px;
  right: 95px;
}

.user-icon span {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-icon h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #e7a248;
  width: 20px;
  height: 20px;
}

.user-icon button {
  width: 40px;
  height: 40px;
  background-color: #e7a248;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
}

.user-icon button img {
  width: 20px;
  height: 20px;
}

.user-icon button:active {
  opacity: 50%;
}

.user-icon button:hover {
  background-color: red;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 1000px;
  min-height: 500px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  left: -40px;
  z-index: 5;
  gap: 20px;
}

.search-input {
  margin-top: 30px;
  width: 1000px;
  height: 30px;
  border-radius: 30px;
  border: gray;
  padding: 5px;
}


/*Todo Card */
.todo-card {
  text-align: left;
  width: 220px;
  height: max-content;
  background: #f8efde;
  border-radius: 10px;
  padding: 0 5px 5px 5px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.todo-card button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: #facdaf;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

.todo-card img {
  width: 10px;
  height: 10px;
  border: none;
}

.todo-card .delete-btn {
  top: 3px;
  right: 3px;
}

.delete-btn:active {
  background-color: rgb(221, 125, 125);
}

.todo-card .edit-btn {
  top: 3px;
  right: 30px;
}

.edit-btn:active {
  background-color: rgb(221, 125, 125);
}


.todo-card h3 {
  margin: 20px 0px;
}

.todocard-description {
  position: relative;
  top: -40px;
}

.todo-card .top-divider {
  position: relative;
  top: -20px;
  opacity: 50%;
}

.todo-card .bottom-divider {
  position: relative;
  top: 5px;
  opacity: 50%;
}

.todo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-footer .todo-status {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.date-time {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(240, 216, 186);
  padding: 2px;
  height: 21px;
  border-radius: 5px;
}

.date-time p {
  font-size: 10px;
  font-weight: bold;
}

.date-time .clock {
  width: 12px;
  height: 12px;
}


/*Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100px;
  background-color: #ffbe80;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  z-index: 1;
}

.sidebar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
}

.sidebar button:active {
  background-color: #faeba6;
}

.sidebar img {
  width: 40px;
  height: 40px;
}

.empty-sidebar {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100px;
  background-color: #ffbe80;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
  left: -80px;
  z-index: 1;
}

/*Dialog*/
.dialog {
  display: flex;
  flex-direction: column;
  background-color: #fcf9d6;
  width: 500px;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 9999;
}

.overlay {
  position: fixed;
  /* stays on screen */
  top: 0;
  left: 0;
  width: 100vw;
  /* full screen */
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* above everything */
}

.dialog .dialog-title {
  border: none;
  background-color: rgba(248, 248, 255, 0);
  outline: none;
  height: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;

}

.dialog .cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.notify {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 45px;
}

.notify:hover {
  opacity: 80%;
}

.notify: :active {
  opacity: 50%;
}

.dialog .cancel-btn:active {
  opacity: 50%;
}

.dialog img {
  width: 20px;
  height: 20px;
}

.dialog hr {
  width: 500px;
  opacity: 50%;
}

.dialog .top-divider {
  position: relative;
  top: -10px;
}

.dialog textarea {
  border: none;
  outline: none;
  height: 200px;
  background-color: #dddddd00;
  min-height: 100px;
  max-width: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dialog .dialog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.dialog .dialog-footer span {
  font-size: small;
  position: absolute;
}
.date-label{
  right: 140px;
}
.notify-label{
  left: 130px;
}

.dialog .btn-create {
  background-color: green;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dialog .btn-create:active {
  opacity: 50%;
}

.dialog .dialog-date {
  border: none;
  max-width: 110px;
  height: 30px;
  border-radius: 10px;
  background-color: #f8e7d1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*todo list and cards*/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  padding: 10px;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 500px;
}

/*Auth*/
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fac98a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth form input {
  height: 30px;
  border-radius: 10px;
  border: none;
  width: 300px;
  background-color: #ffeeee;
}

.auth form .submit {
  background-color: rgb(233, 174, 119);
  border: none;
  width: 100px;
  height: 30px;
}

.auth form .submit:hover {
  cursor: pointer;
  background-color: rgb(201, 143, 89);
}

.auth form .submit:active {
  background-color: #f8e7d1;
}

.auth .switch {
  display: flex;
  padding: 3px 10px;
  gap: 10px;
}

.auth .switch .switch-btn {
  border: none;
  min-width: 50px;
  background-color: rgb(233, 174, 119);
  ;
}

.auth .switch .switch-btn:hover {
  cursor: pointer;
  background-color: rgb(201, 143, 89);
}

.auth .switch .switch-btn:active {
  background-color: #f8e7d1;
}

.alert {
  padding: 12px 16px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
}

.alert-danger {
  background-color: #9c2a2a;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}