body {
    background: #e8d6b0;
    font-family: Arial;
}

.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #ddd;
    padding: 20px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: max-content;
}

.cards-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    margin-top: 20px;
    padding-left: 45px;
}

.todo-card {
    text-align: left;
    width: 200px;
    height: max-content;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 0 5px 5px 5px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.todo-card-description {
    position: relative;
    top: -29px;
}

.todo-delete-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    right: 3px;
    border: none;
    background: #fefefe;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.del-img {
    width: 10px;
    height: 10px;
    border: none;
}

.edit-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    right: 30px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}

.search-input {
    width: 1200px;
    height: 30px;
    border-radius: 30px;
    border: gray;
    padding: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.todo-footer {
    display: flex;
    align-items: center;
    gap: 50px;

}

.due-date {
    /* background-color: rgb(9, 235, 36); */
    font-size: small;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.todo-status {
    /*  outline: 2px solid #09eb24;*/
    padding: 3px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.top-line {
    position: relative;
    top: -15px;
    opacity: 50%;
}

.bottom-line {
    position: relative;
    top: 15px;
    opacity: 50%;
}

.page-container {
    display: flex;
}

/*for sidebar*/
.sidebar {
    display: flex;
    background-color: #e8d6b0;
    padding: 20px 0;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    align-items: center;
}

.sidebar button {
    background-color: white;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.sidebar button img {
    height: 20px;
    width: 20px;
}

.sidebar button:active {
    background-color: rgb(247, 166, 44);
}

.create-dialog {
    border: none;
    border-radius: 10px;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-title {
    border: none;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

.todo-description {
    height: 80px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    outline: none;
}

.cancel-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 5, 5);
    color: white;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
}

.dialog-footer {
    display: flex;
    gap: 150px;
    padding-left: 8px;
}

.due-date {
    border: none;
    background-color: #fcc24d;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
}

.dialog-create-btn {
    text-align: center;
    background-color: green;
    width: 100px;
    border-radius: 10px;
    color: white;
}

img {
    width: 10px;
}